<div class="container-feedpage">
  <div class="container-companies-managers">
    <div class="headers">
      <h1 class="header-feed">Your matching job offers</h1>
      <h3 class="subhead-feed">Discover the companies looking for your profile</h1>
    </div>
     <div class="headers">
      <h1>New matching companies</h1>
      <h3>Expand your network by following these suggestions</h1>
     </div>
  </div>
  <div class="container-feedcontent">
    <div class="headers">
      <h1>Your feed</h1>
      <h3>Discover your followed companies news</h1>
    </div>
      <% @feed.each do |thing| %>
        <% if current_talent.following?(thing) %>
        <div class="row-content">
          <div class="content-logo">
            <img class="logo-feed"src="<%= thing.logo %>">
          </div>
          <div class="content-text">
            <a href="<%= thing.latestnews %>" class="post-header" target="_blank"><%= thing.latestnews_summary %></a>
            <p class="post-media">Media : <%= thing.latestnews_media %></p>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>

</div>
