.container-feedpage {
  display: flex;
  margin: 50px;
}

.container-feedcontent {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 2px solid black;
  padding: 30px;
}

.container-companies-managers {
  padding: 30px;
  padding-left: 50px;
  width: 50%;
}

.feedcontent {
  display: flex;
  flex-direction: column;
}

.row-content {
  display: flex;
  margin-bottom: 50px;
}

.logo-style {
  width: 90px;
  border-radius: 40%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.header-feed {
  font-size: 48px;

}

.subhead-feed {
  font-size: 24px;
  font-weight: lighter;

}

.post-header {
  font-weight: bolder;
  color: black;
}

.post-media {
  font-weight: lighter;
  color: grey;
}

.headers {
  margin-bottom: 50px;
}
