.container-feedpage {
  display: flex;
  margin: 50px;
  height: 100vh;
}

.container-feedcontent {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px;
  padding-left: 50px;
}

.container-companies-managers {
  padding: 30px;
  width: 50%;
  border-right: 2px solid black;
  overflow: scroll;
}

.feedcontent {
  display: flex;
  flex-direction: column;
}

.row-content {
  display: flex;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
}

.logo-feed {
  width: 100px;
  height: 70px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.content-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}


.post-header {
  font-size: 14px !important;
  font-weight: bolder;
  color: black;
}

.post-media {
  font-weight: lighter;
  color: grey;
  font-size: 12px !important;
}

.headers {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  h1 {
  font-size: 36px;
  }
  h4 {
  font-size: 18px;
  font-weight: lighter;
  }
}

.companies-feed {
  margin-top: 20px;
}
