// Specific CSS for your home-page
.banner {
  background-size: cover !important;
  background-position: center;
  // padding: 150px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-screen {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-screen {
  flex: 0 0 50%;
}

.banner-content {
  background-color: rgba(0,0,0,0.85);
  border-radius: 3px;
  height: 550px;
  width: 600px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
  .btn-standard {
    font-size: 20px;
    padding: 12px 24px;
  }
}

.welcome-text {
  text-align: center;
  max-width: 400px;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  p {
    font-size: 24px;
    font-weight: lighter;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}




.wrapper {
  background-color: $moutarde;
  li {
    list-style: none;
  }
}

.container {
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

.m-top-40px {
    margin-top: 40px;
}

.wrapper-support {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 15px;
}

.support{
  text-align: center;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-sponsors{
  height: 120px;
  margin: 0 30px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  align-items: center;
}

// .panel {
//   width: 100%;
//   height: 500px;
//   z-index:0;
//   -webkit-transform: translateZ( 0 );
//   transform: translateZ( 0 );
//   -webkit-transition: -webkit-transform 0.6s ease-in-out;
//   transition: transform 0.6s ease-in-out;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
// }

// a[ id= "all-companies" ]:target ~ .wrapper.container.panel {
// -webkit-transform: translateY( 0px );
// transform: translateY( 0px );
// }



// .banner {
//   color: white;
//   text-align: center;
//   height: 100vh;
//   /* if you have a 70px navbar => height: calc(100vh - 70px); */
//   background-size: cover !important;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .banner h1 {
//   font-size: 50px;
//   font-weight: bold;
//   text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
// }
// .banner p {
//   font-size: 25px;
//   font-weight: lighter;
//   color: rgb(255, 255, 255);
//   opacity: 0.6;
//   margin-bottom: 30px;
// }
