<!-- <div class="navbar-wagon navbar-happy-fixed-left">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "small_logo.png", height: 50 %>
  <% end %>

  <p>Toto</p>

</div>
 -->
