<h1>Bienvenue !! </h1>

<p>
  <%= @greeting %>
  <br>
  Merci pour ton inscription <%= @talent.first_name %> <%= @talent.last_name %>

  <br>
  <br>
  See you soon on our website : <a href="https://happy-values.herokuapp.com/">https://happy-values.herokuapp.com/</a>
<br>
<br>

<h2> Team Happy.</h2>
</p>
