
<div>
  <a class="btn_standard" href="#">Sign in</a>
  <%= link_to "SIGN IN", new_talent_session_path, class: "btn_standard"%>
</div>

<div>
  <a class="btn_standard" href="#">Sign up</a>
  <%= link_to "SIGN UP", new_talent_registration_path %>
</div>
