
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="banner-content">
    <h1>Find your happy place</h1>
    <p>HAPPY helps you to find the company sharing your values</p>
    <a href="#all-companies" class="btn-standard ">SEE ALL COMPANIES</a>
  </div>
</div>


<div class="wrapper">
  <div class="container panel" id="all-companies">
    <div class="row">
      <% Company.all.each do |company| %>
      <div class="col-lg-6">
          <div class="company-card cible">
              <div class="effect-left">
              </div>
                <div class="card-background"style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path company.teampicture.url, height: 300, width: 400, crop: :fill %>');">
                <div class="card-btn">
                  <%= link_to "Follow", connexion_path, class: "btn-follow-company"%>
                </div>
                <p class="card-description"><%= company.name %></p>
                </div>
              <div class="effect-right">
              </div>
          </div>
          <br>
      </div>
      <% end %>
    </div>
  </div>
</div>

