<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<!-- #TEST seed-->
<!--     <%= Company.first.name %>
    <%= cl_image_tag(Company.last.logo.url) %>
    <%= Value.last.name %>
    <%= cl_image_tag(Value.last.icone.url) %> -->
