<% company_array = [] %>
  <% current_talent.values.each do |value| %>
    <% CompanyValue.all.each do |companyvalue| %>
      <% if companyvalue.value_id == value.id %>
      <% company_array << [Company.find(companyvalue.company_id), value] %>
      <% end %>
    <% end %>
  <% end %>

  <% counts = Hash.new(0) %>
  <% list_values = Hash.new{ |h, k| h[k] = [] } %>
  <% company_array.each do |company| %>
    <% counts[company[0]] += 1 %>
    <% list_values[company[0]] << company[1] %>
  <% end %>

  <% counts = counts.sort_by {|k,v| v}.reverse.to_h %>


<div class="col-lg-6">
  <div class="company-card validate cible">
    <div class="effect-left"></div>
    <div class="card-background" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('<%= cl_image_path company.teampicture.url, height: 300, width: 400, crop: :fill %>');">
      <%= link_to "Followed", unfollow_path(company.id), class: "btn-unfollow-company card-btn", id: "unfollow-btn-#{company.id}", remote: true %>
      <div class="card-value-all">
        <% list_values[company].each do |valeur| %>
          <div class="card-value">
            <%= cl_image_tag(valeur.icone.url, height: 75, width: 50, crop: :fill) %>
          </div>
        <% end %>
      </div>
      <p class="card-name"><%= company.name %></p>
      <div class="effect-right"></div>
    </div>
  </div>
</div>
