<div class="container">
<br>
<br>
<br>
  <h1> Follow  </h1>
  <p>the companies you're matching with</p>

  <div class="row">

    <% @companies.each do |company| %>
      <% if current_talent.following?(company) %>
        <div id='<%= "company_card_#{company.id}" %>'>
          <%= render 'followcard', company: company %>
        </div>
      <% else %>
        <div id='<%= "company_card_#{company.id}" %>'>
          <%= render 'unfollowcard', company: company %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

