<div class="wrapper">
  <div style="padding-top:100px;"></div>
  <h1>Find your next move!</h1>
  <div class="container">
  </div>
  </div>

   <h3> <%= link_to "Go to my feeds", feeds_index_path, class: "btn-color" %></h3>

  <br>
  <br>

    <div class="values-list">
          <% JobOffer.all.each do |job| %>
          <div class="value-card cible">
          <div class="effect-left"></div>
          <p><%= job.company.name %></p>
           <div class="logo"></div>

             <p><%= job.name %></p>
          <div class="effect-right"></div>
          <div class="card-btn">
          <%= link_to "Apply"%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
