.wrapper {
  text-align: center;
  height: 100vh;
  background-color: #F4E8C1;
  h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 300;
  }

  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
  }

  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
  }
}
