.btn-float {
  position: fixed;
  bottom: 40px;
  right: 60px;
  text-decoration: none;
  background-color: rgba(0,0,0,0.8);
  border-radius: 4px;
  color: white;
  height: 50px;
  width: 209px;
  text-align: center;
  padding-top: 13px;
  z-index: 15;
  justify-content: center;
  transition: all 0.4s ease-out;
  &:hover{
   text-decoration: none;
   color: $moutarde;
   background-color: rgba(0,0,0,1);
  }
}


.btn-standard {
  background-color: white;
  color:  #000000;
  font-family: Avenir;
  font-size: 16px;
  text-align: center;
  border: 1px solid;
  padding: 8px 16px;
  opacity: 0,8;
  transition: opacity 0.3s ease;
  border-radius: 2px;
  line-height: 24px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  &:hover {
    text-decoration: none;
    background-color: #F4E8C1;
    color: #000000;
    font-weight: bold;
    opacity: 1;
  }
}

.btn-color {
  background-color: #F4E8C1;
  color:  black;
  font-family: Avenir;
  margin: 20px;
  font-size: 16px;
  text-align: center;
  border: 1px solid;
  padding: 8px 16px;
  opacity: 0,8;
  transition: opacity 0.3s ease;
  border-radius: 2px;
  line-height: 24px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  &:hover {
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: bold;
    opacity: 1;
  }
}

.btn-follow {
  background-color: #F4E8C1;
  color:  black;
  font-family: Avenir;
  margin: 20px;
  font-size: 16px;
  text-align: center;
  border: 1px solid;
  padding: 8px 16px;
  opacity: 0,8;
  transition: opacity 0.3s ease;
  border-radius: 2px;
  line-height: 24px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  &:hover {
    text-decoration: none;
    background-color: #40F99B;
    color: black;
    opacity: 1;
    font-weight: bold;
  }
}

.btn-follow-company {
  background-color: #39f890;
  color:  white;
  font-family: Avenir;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 0px solid;
  padding: 8px 16px;
  opacity: 0,8;
  transition: opacity 0.3s ease;
  border-radius: 2px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    background-color: $moutarde;
    color: white;
    opacity: 1;
    font-weight: bold;
  }
}

.btn-unfollow-company {
  background-color: #40F99B;
  color: white;
  font-family: Avenir;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 3px 13px;
  opacity: 0,8;
  transition: opacity 0.3s ease;
  border-radius: 5px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    background-color: #CD5C5C;
    color: white;
    opacity: 1;
    font-weight: bold;
  }
}

.btn-follow {
  background-color: #40F99B;
  color:  black;
  font-family: Avenir;
  margin: 20px;
  font-size: 16px;
  text-align: center;
  border: 1px solid;
  padding: 8px 16px;
  opacity: 0,8;
  transition: opacity 0.3s ease;
  border-radius: 2px;
  line-height: 24px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  &:hover {
    text-decoration: none;
    background-color: #40F99B;
    color: black;
    opacity: 1;
    font-weight: bold;
  }
}

.btn-unfollow {
  background-color: #FF1D15;
  color:  black;
  font-family: Avenir;
  margin: 20px;
  font-size: 16px;
  text-align: center;
  border: 1px solid;
  padding: 8px 16px;
  opacity: 0,8;
  transition: opacity 0.3s ease;
  border-radius: 2px;
  line-height: 24px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  &:hover {
    text-decoration: none;
    background-color: #FF1D15;
    color: black;
    opacity: 1;
    font-weight: bold;
  }
}


