
.container {
  width: auto;
  padding: 42px;
  padding-left: 137px;
  margin-top: -25px;
}


.company-card {
  display: flex;
  flex: 1 1 auto;
  padding: 10px;
  margin: 6px;
  border-radius: 1px;
  transition: all 0.3s ease;
  background-color: #FBFAF8;
  flex-direction: column;
  width: 400px;
  height: 200px;
  padding: 1px;
  border-radius: 4px;
  transition: box-shadow 0.5s ease;
  p {
    transition: border 0.4s ease;
    transition: box-shadow 0.5s ease;
    transition: background-color 0.1s ease;
  }
  .card-background {
    height: 200px;
    background-size: cover;
    color: white;
    position: relative;
  }
}

.company-card.validate {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  border: 0px solid black;
  padding: 1px;
  background-color: $moutarde;
  .card-background {
    height: 180px;
    background-size: cover;
    color: white;
    position: relative;
  }
}

.company-card.cible:hover, .company-card.value-card.validate.cible {
  .effect-left{
    top: 0px;
    left: 0px;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
  }
  .effect-right{
    bottom: 0px;
    right: 0px;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
  }
}


.card-btn {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 10;
}

.card-score {
  position: absolute;
  bottom: 5px;
  right: 12px;
  h3 {
    font-style: bold;
    font-size: 57px;
  }
  color: $moutarde;
}

.card-description {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

