// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "profile-creation";
@import "value-card";
@import "burger-navbar";
@import "job-offer-card";
@import "company-card";
@import "buttons";
@import "cible-effect";
@import "footer";
@import "avatar";

.wrapper {
  // text-align: center;
  // display: flex;
  // flex-direction: column;
  height: 600vh;
  background-color: white;
  h1 {
    margin: 0;
  }
}



