// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "value-card";
@import "burger-navbar";
@import "job-offer-card";
@import "company-card";
@import "buttons";

.wrapper {
  text-align: center;
  height: 100vh;
  background-color: $moutarde;
  h1 {
    margin: 0;
  }
}
